    @import "tailwindcss";

    :root {
    
      /* Backgrounds */
  --color-bg-main: #262626;
  --color-bg-card: #1A1A1A;
  --color-bg-soft: #262626;
    
    }
    *,
    *::before,
    *::after {
    box-sizing: border-box;
    }

    html {
    scroll-behavior: smooth;
    }

    body {
  background-color: var(--color-bg-main);

  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
    }

    img,
    svg {
    display: block;
    max-width: 100%;
    }

    a {
    text-decoration: none;
    }

    button {
    cursor: pointer;
    }