    /* @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
    @import "tailwindcss";

    :root {
    
    --color-bg-main:   #0B0F19;   
    --color-bg-card:   #1A1A1A;   
    --color-bg-soft:   #262626;   

 
    --color-text-primary:   #FFFFFF;
    --color-text-secondary: #E6E6E6;
    
    }
    *,
    *::before,
    *::after {
    box-sizing: border-box;
    }

    html {
    scroll-behavior: smooth;
    }

    body {
    background-color: var(--color-bg-main);
    color: var(--color-text-primary);
    font-family: "Barlow";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    }

    img,
    svg {
    display: block;
    max-width: 100%;
    }

    a {
    text-decoration: none;
    color: inherit;
    }

    button {
    cursor: pointer;
    font-family: inherit;
    } */


    @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');
    @import "tailwindcss";

    :root {
    
      /* Backgrounds */
  --color-bg-main: #262626;
  --color-bg-card: #1A1A1A;
  --color-bg-soft: #262626;
    
    }
    *,
    *::before,
    *::after {
    box-sizing: border-box;
    }

    html {
    scroll-behavior: smooth;
    }

    body {
  background-color: var(--color-bg-main);

  font-family: "Barlow", sans-serif;
  overflow-x: hidden;
    }

    img,
    svg {
    display: block;
    max-width: 100%;
    }

    a {
    text-decoration: none;
    }

    button {
    cursor: pointer;
    }